---
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterEnum: true
  BeforeElse: false
  BeforeCatch: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Regroup
SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex: '^<Q[A-Za-z]'          # Qt headers
    Priority: 3
  - Regex: '^<[a-z_]+>$'          # C++ standard library
    Priority: 2
  - Regex: '^".*"$'               # project headers
    Priority: 5
  - Regex: '.*'                   # other third-party (Scintilla, tree-sitter, ...)
    Priority: 4
SpaceAfterCStyleCast: true
FixNamespaceComments: true
